
Task1/.vs/MindBoxTest/FileContentIndex/f0a83891-7635-416f-8af5-4268b47daa0a.vsidx
Task1/.vs/MindBoxTest/v17/.suo
Task1/MindBox.Library/.vs/MindBox.Library.csproj.dtbcache.json
*.cache
Task1/MindBox.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Task1/MindBox.Library/obj/Debug/MindBox.Library.csproj.AssemblyReference.cache
Task1/MindBox.UnitTest/.vs/MindBox.UnitTest.csproj.dtbcache.json
Task1/MindBoxTest/.vs/MindBox.Cosnole.csproj.dtbcache.json
